* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Nunito Sans', sans-serif;



}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0px 15px;


}


.header__wrap,
.footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.num {
    color: #E3B873;
    margin-right: 45px;

}

.header__button {
    background: #E3B873;
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.logo {
    color: #E3B873;
}

.header,
.footer {

    font-size: 11px;
    line-height: 15px;
    font-weight: 400;
    background-color: black;
}

.header-menu,
.footer-menu {

    list-style: none;
    display: flex;
    justify-content: space-between;
}

.header-item,
.footer-item {
    margin-right: 47px;
    text-decoration: none;
    color: white;
}

.section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./img/hero.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;

}

.section__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 194px;

}

.section__title span {
    color:
        #E3B873;
}

.section__text {
    padding-top: 19px;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
}

.section__btn {

    margin-top: 41px;
}

.btn__left {
    font-size: 11px;
    line-height: 15px;
    text-decoration: none;
    padding: 20px 41px;
    color: #FFFFFF;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
}

.btn__right {
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    margin-left: 20px;
    text-decoration: none;
    background-color: transparent;
    padding: 20px 22px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    color: #FFFFFF;
}

.about {
    background: #131313;
    padding-bottom: 414px;
}

.about__row {
    display: flex;
   justify-content: space-between;

}
.about__col-left {
    margin-top: 176px;
}
.about__col-right {
    margin-top: 107px;
}


.about__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}

.about__text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}

.textcols {
    display: flex;
    gap: 20px;
}

.text__item {

    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

.text__line {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.vector {
    margin-top: 70px;
}

.img__vektor {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.circle__left {
    width: 9.57px;
    height: 9.57px;
    background: #FFFFFF;
    border-radius: 30px;
}

.circle__centr {
    width: 9.57px;
    height: 9.57px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
}

.circle__right {
    width: 9.57px;
    height: 9.57px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
}

.circle {
    margin-left: 30px;
    gap: 18px;
    display: flex;
    justify-content: space-between;
}

.vector__right {
    display: flex;
    margin-left: 30px;
}

a {
    text-decoration: none;
}

.munu__list {
    margin-bottom: 40px;
}


.about__list {

    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}

.about__list {
    margin-right: 50px;
    position: relative;
}


.about__list:hover {
    color: #E3B873;

}

.about__list:hover:before {
    transform: scale(1);

}

.about__list::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #E3B873;
    position: absolute;
    left: 0;
    bottom: -5px;
    transform: scale(0);
}

.mobil__img {
   
    position: relative;
}

.mobil__img>.btn__mobile-left {
    position: absolute;
    top: 50%;
    left: 17%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    z-index: 2;
    background: #E3B873;
    border-radius: 50%;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mobil__img>.btn__mobile-right {
    position: absolute;
    top: 50%;
    left: 83%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    z-index: 2;
    background: #E3B873;
    border-radius: 50%;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mobil__img {
    display: none;
   
}


.about__img {
    max-width: 100%;

}

.svg {
    align-items: center;
    justify-content: center;
    display: flex;

}

.art__sec {
    margin-top: -350px;
}

.block {
    margin-bottom: 50px;

}

.block__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.camer {
    display: flex;
    align-items: center;
    justify-content: center;


}

.camer>img:first-child {
    margin-right: 10px;
}

.camer>img:last-child {
    margin-left: 10px;
}



.play {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 817px;
    margin: auto;

}

.play>img {
    width: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;

}

.play>.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85px;
    height: 85px;
    z-index: 2;
    background: #E3B873;
    border-radius: 50%;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.strok {
    margin-top: 62px;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 35px;

}

.content__text {

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    background: transparent;
}

.wrapper {
    margin-top: 93px;
    display: flex;
    align-items: center;
   justify-content: center;
   gap: 58px;

}


.wrapper .imput__data input {
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 2px solid silver;
    margin-top: 7px;
    background: transparent;
}

.wrapper.imput__data {
    width: 100%;
    height: 40px;

}

.input__wrapper {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.imput__data input::placeholder {
    color: #363636;
    font-size: 14px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%;
}

.wrapper__button {
    background: #E3B873;
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}


.text {
    position: absolute;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
    color: #181818;
    font-size: 14px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%;
}

.svg__data {
    position: absolute;
    display: flex;
    align-items: center;

}

.content__data {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    color: #181818;
}

.content__data label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.real-checkbox {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.tex-checkbox {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 1px;
    background: #E3B873;
    margin-right: 9px;

}

.tex-checkbox:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("/img/Vector-data.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in;
}

.real-checkbox:checked+.tex-checkbox:before {
    transform: translate(-50%, -50%) scale(1);
}

.team__section {
    max-width: 100%;
}

.tool {
    margin-top: 69px;

}

.tool__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

.card {
    display: flex;
    justify-content: center;
    margin-top: 44px;
}


.block__card {

    max-width: 330px;
    max-height: 286px;
    margin-top: 294px;
    margin-left: 31px;
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.card__title {
    margin-left: 31px;
    color: #363636;
    font-family: Yeseva One;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
}

.card-menu {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
    margin-bottom: 23px;
}

.button {
    background: #E3B873;
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.box1 {
    background-image: url(./img/card\ 1.jpg);
    max-width: 392px;
    height: 421px;
    width: 100%;
    margin-right: 30px;
}

.box2 {
    background-image: url(./img/card\ 2.jpg);
    max-width: 392px;
    height: 421px;
    width: 100%;
    margin-right: 30px;
}

.box3 {
    background-image: url(./img/card\ 3.jpg);
    max-width: 392px;
    height: 421px;
    width: 100%;
}

.about__section {

    background-image: url(./img/list\ of\ services.png);
    background-repeat: no-repeat;
    max-width: 100%;
}

.section__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 130px;
    margin-top: 311px;
}

.section__list {
    list-style-type: none;
}

.section__item:not(:last-child) {
    margin-bottom: 114px;
}

.comlited__value {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #363636;

    margin-left: 40px;
}

.section__block {

    width: 506px;
    height: 509px;
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
}

.section__heading {
    position: relative;
    top: 28px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}



.box {
    margin-top: 93px;
    margin-left: 30px;

}


.box .imput__box input {
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
    margin-top: 7px;
    background: transparent;
}

.box .imput__box input {
    width: 100%;
    height: 40px;

}

.input_color {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.section__img {

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.section__img>.img__sec {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    z-index: 2;
    background: #E3B873;
    border-radius: 50%;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
}

.icon {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;

    color: #FFFFFF;
}

.input_color {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    ;
}

.imput__box input::placeholder {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    ;
}


.comlited {
    display: flex;
    align-items: center;
}

.comlited .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    margin-right: 15px;
    background: #E3B873;
    border-radius: 50%;
    border: 9px solid #fff;
}



.section__data {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 18px;
}

.content__data__text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
    color: #FFFFFF;

}

.button__section {
    display: flex;
    justify-content: center;
    margin-left: 244px;
    margin-top: 40px;


}

.button__right {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #E3B873;
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    text-decoration: none;
}

.pig__img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 100px;
}

.pig__img>.pig__sec {

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    z-index: 0;
    background: #E3B873;
    border-radius: 50%;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E3B873;


}

.pig {

    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

.pig__title {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    margin-top: -50px;
}


.section__history {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./img/his.png);
    background-size: cover;
    max-width: 100%;
    max-height: 864px;
    margin-top: 200px;

}

.history_menu {

    list-style-type: none;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    padding-left: 99px;
}

.history_item {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;


}

.history__title {
    width: 411px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
    padding-top: 137px;
    padding-left: 99px;
}

.history_section__row {
    display: flex;
    justify-content: space-between;
}

.history_section__col {
    display: flex;
}

.images_1 {
    margin-left: 77px;
    margin-top: -50px;
}

.images_2 {
    margin-left: 77px;
    margin-top: 40px;
}

.images_3 {
    margin-left: 43px;
    margin-top: -100px;
}

.images_4 {
    margin-left: 43px;
    margin-top: 40px;
}

.history_item:hover {
    color: #E3B873;

}

.history_item:hover:before {
    transform: scale(1);

}

.history_item::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #E3B873;
    position: absolute;
    left: 0;
    bottom: -5px;
    transform: scale(0);
}

.history_item {
    position: relative;
}

.history__images {
    position: relative;
}

.btn__mobile-left {
    position: absolute;
    top: 50%;
    left: 17%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    z-index: 2;
    background: rgb(227, 184, 115);
    border-radius: 50%;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn__mobile-right {
    position: absolute;
    top: 50%;
    left: 83%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    z-index: 2;
    background: #E3B873;
    border-radius: 50%;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn__mobile-left,
.btn__mobile-right {
    display: none;
}


.cards-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 39px;

}

.card-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    right: 0px;
    margin-left: 15px;
    margin-top: 13px;
}

.card-img {
    display: inline-block;
    max-width: 376px;
    box-shadow: 0px 10px 50px 0px #0000000A;
    margin-right: 54px;
}

.card-image {
    display: flex;

}

.card-image h2 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
    margin-top: 40px;

}

.card-title {

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 180%;
    color: #959595;
    padding: 10px 10px;


}

.tem-btn {
    max-width: 293px;
    width: 100%;
    height: 54px;
    margin-top: 60px;
    margin-bottom: -20px;
    left: 0;
    padding: 10px 10px;
    background: #E3B873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);

}

.centr_tem {
    border-right: 0.75px solid rgba(255, 255, 255, 1);
    height: 50px;
}

.tem-btn2 {
    color: #FFFFFF;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.team-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;

    color: #363636;
}

.form__city {
    background-image: url(./img/city-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    margin-top: -250px;
}

.form {
    max-width: 883px;
    height: 445px;
    background: #0b0b0b;
    display: flex;
    justify-content: center;
    margin-top: -218px;


}

.form__container {
    display: flex;
    flex-direction: column;
}

.form__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

}

.big {
    display: flex;
    margin-bottom: 60px;
}

.form__input input {
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    background: transparent;
    font-family: 'Nunito Sans';
}

.form__input {
    margin-right: 58px;
}

.form__label {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.form__input ::placeholder {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFF;
}

.form__col {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
}

.form__btn {
    display: flex;
    justify-content: center;
}

.input__button {
    background: #E3B873;
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.cart {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-image: linear-gradient(rgba(24, 24, 24, 0.9), rgba(24, 24, 24, 0.72)), url(./img/dom.jpg);
    background-size: cover;

}


.cart__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
}

.cart__img {
    display: flex;
    justify-content: center;
    margin-top: 26px;
}

.svg__cart {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.cart__block {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.cart__block img {
    max-width: 100%;
    margin-bottom: 80px;
}





@media screen and (max-width:1250px) {
    body {
        margin: 0;
    }

    .main {
        background-position: center;
    }

    .about__row {
        display: flex;
        flex-direction: column;
    }

    .header-menu,
    .header__button,
    .header-item,
    .vector,
    .about__list {
        display: none;
    }

    .num {
        color: rgba(255, 255, 255, 1);
    }


    .about {
        padding: 5px;
    }
    .about__col-left {
        margin-top: 36px;
    }
    .about__col-right {
        margin-top: 0;
    }


    .about__col-mobile {
        display: flex;
        flex-direction: column;
    }

    .about__title,
    .about__text {
        text-align: center;
    }

    .about__title {
        font-size: 36px;
    }

    .about__text,
    .text__line {
        font-size: 20px;
    }

    .text__item {
        font-size: 26px;
    }

    .about__img {
        display: none;
    }

    .mobil__img {
        display: block;
    }
    .textcols {
        order: 2;
    }
    .mobil__img {
        flex: 1;
        order: 1;
    }

    .centr__img {
        width: 100%;
    }

    .textcols {
        justify-content: center;
    }

    .art__sec {
        margin-top: -1px;
        background: #181818;
    }

    .block {
        padding-top: 31px;
    }

    .content__text {
        color: #FFF;
        text-align: center;
        font-size: 11px;
        font-weight: 400;
        line-height: 169.8%;
    }

    .input__wrapper {
        color: rgba(255, 255, 255, 0.50);
        font-size: 13px;
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: 400;
        line-height: 163.68%;
    }

    .imput__data input::placeholder {
        color: #FFF;

    }

    .content__data label {
        color: #FFF;
    }

    .card {
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 178px;
    }

    .block__card {
        margin-left: 0;
        margin-top: 258px
    }

    .about__section {
        display: none;
    }

    .section__top,
    .history_menu,
    .images_2,
    .images_3,
    .images_4 {
        display: none;
    }

    .section__history {
        background-image: none;
        margin-top: 0;
        padding-left: 0;
    }

    .history_section__row {
        display: flex;
        flex-direction: column;
    }

    .history_section__col {
        display: flex;
        justify-content: center;
    }

    .history__title {
        padding-left: 0;
        text-align: center;
        max-width: 100%;

        color: #E3B873;
        font-size: 22px;
        line-height: 138.6%;

    }

    .images_1 {
        max-width: 100%;
        margin-left: 0px;
        margin-top: 0px;
    }

    .container .tool,
    .cards-img,
    .form__city {
        display: none;
    }

    .form {
        display: block;
        margin-bottom: 160px;
    }

    .cart {
        background: #181818;
    }

    .big {
        display: block;
        margin-bottom: 0;
    }

    .form__input {
        margin-bottom: 40px;
        margin-left: 18px;
    }

    .form__col {
        margin-top: 0;
        display: flex;
        justify-content: center;
        margin-left: 18px;
    }

    .footer {
        display: none;
    }

    .btn__mobile-left,
    .btn__mobile-right {
        display: block;
    }

    .cart__mobile {
        display: flex;
        flex-direction: column;
        margin-top: -180px;
    }

    .cart__title {
        order: 2;
        margin-top: 0;
        font-size: 18px;
    }

    .cart__img {
        order: 3;
        margin-bottom: 49px;
    }

    .cart__block {
        order: 1;
    }

    .mobil__icon {
        width: 71px;
        height: 39px;
    }

}

@media screen and (max-width:600px) {
    .section__title {
        font-size: 26px;
        line-height: 30px;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 63px 0 0;
    }

    .section__text {
        font-size: 16px;
        line-height: 20px;
    }

    .section__btn a {
        display: block;
        text-align: center;
    }

    .btn__right {
        margin: 0;
        margin-top: 20px;
    }

    .section {
        height: 476px;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
    }

    .imput__data {
        width: 100%;
    }


    .about__title {
        color: #E3B873;
        text-align: center;
        font-family: Yeseva One;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 138.6%;
        letter-spacing: -1.54px;
        text-transform: uppercase;
    }

    .about__text {
        text-align: center;
        font-size: 10px;
        line-height: 18px;

        margin-top: 22px;
    }

    .text__item {
        font-size: 14px;

    }

    .text__line {
        font-size: 13px;
    }

    .textcols {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .about__img {
        display: none;
    }

    .input__button {
        display: block;
        text-align: center;
        padding: 20px;
        margin-top: 40px;
    }

    .form__btn {
        display: block;
    }

    .form__col {
        display: flex;
        justify-content: flex-start;
        margin-left: 0;
    }

    .section__data {
        margin-left: 18px;
        margin-top: 21px;
        margin-top: -20px;
    }

    .history__images {
        z-index: 1;
    }

    .cart__block {
        margin-top: 107px;
    }

}